name: Test Java SDK library

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - develop

jobs:
  test:
    name: Test java project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Test with Gradle
        run: gradle clean test
